<li>
  by <%= comment.commenter.email %>, at <%= comment.created_at %><br>
  <%= comment.content %>
  <ul>
    <%= render partial: "reply", collection: comment.replies unless comment.replies.blank? %>    
  </ul>
</li>
