<% if has_user? %>
  <h1>Posts by <%= current_user.email %>: </h1>
<% else %>
  <h1>All Posts</h1>
<% end %>

<ul>
  <%= render partial: 'post', collection: @posts %>
</ul>

<%= link_to "My own posts", user_root_path(current_user) if user_signed_in? %>
<%= link_to "All posts", posts_path %>
