body {
  padding-top: 0px;
}

.jumbotron {

   margin: 0px;
   background-image: url(asset-path('aleysa.jpg'));
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   color: white;
   text-align: center;
   min-height: 720px;
   height: 960px;
   /*can use viewport unit here -e.g.height: 100vh;*/
   a {
     display: inline-block;

   }
   a:first-child {
     margin-right: 20px;
   }

   a + a {
     margin-left: 20px;
   }

   p.photographer {
     position: fixed;;
     font-size: 16px;
     right: 25px;
     bottom: 0px;
   }

}
